@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.selected {
  box-shadow: 0 0 30px 5px #0ff;
}

.graph-container {
  width: 50%;
  height: 40vh;
}
